# Environment Variables (Security)
.env
.env.*
*.env

# Custom Scripts Folder
script/

# Node Modules
node_modules/
npm-debug.log
yarn-error.log

# Build Outputs
dist/
build/

# OS specific files
.DS_Store

# AI / Tooling Data
.brain/
generate_tree.js

project_tree.txt
frontend clean files/
backend clean files/
frontend_clean_files/
backend_clean_files/
